<section class="section hero py-5">
    <div class="container">
        <div class="row flex-column ">
            <div class="col-12 col-xl-4 d-flex flex-column justify-content-center"></div>
            <div class="col-12 col-xl-8 d-flex flex-column justify-content-center">

                <div class="d-flex flex-column flex-xl-row">
                    <!-- {{ with .content.buttonSubscription }}
                    <a class="btn btn-primary text-light px-4 my-1" href="{{ .url }}">{{ .label }}</a>
                    {{ end }} -->
                    <form>
                        <input type="email" class="" id="subscription_email" name="subscription_email" placeholder="Enter your email address">
                        <input type="submit" class="btn btn-primary text-light px-4 my-1" value="Subscribe">
                    </form>
                
                </div>
                
            </div>
        </div>
    </div>
</section>